.root, .border-pane {
    -fx-background-color: #2b2b2b;
}

.pixel-label {
    -fx-font-family: 'Ithaca' !important;
    -fx-font-size: 18px;
    -fx-text-fill: #cccccc;
}

.dark-vbox {
    -fx-background-color: #3c3f41;
}

.button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: 'Ithaca';
    -fx-font-size: 18px;
    -fx-background-color: #555555;
    -fx-text-fill: #cccccc;
    -fx-border-color: #2b2b2b;
}

.button:hover {
    -fx-background-color: #6a6a6a;
}

.button:disabled {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}