.button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: 'Ithaca';
}

.button,
.button:hover,
.button:pressed,
.button:focused {
    -fx-font-family: 'Ithaca';
    -fx-font-size: 18px;
}

* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.dark-vbox {
    -fx-background-color: rgba(43, 43, 43, 0.2);
}